main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: blue;
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 5px 10px;
}

button:hover {
    background-color: brown;
    cursor: pointer;

}