.mvMain {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


header {    
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-color: blue;
    color: white;
}

h2 {
    margin: 10px;
}

#mvtype {
 margin-left: 20px;
}

.poster_info {
    border: 1px solid black;
}

.date {
    width: 80%;
    height: 40px;
    background-color: aqua;
    margin-top: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.mval > li {
    border: dotted 1px black;
}



.mval  {
    width: 80%;
    list-style: none;
    
}

.spMv {
    width: 80%;
    display: inline-flex;
    text-align: center;

}

.spRank {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;
    background-color: brown;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
}

.mval > li:hover {
    color: brown;
    cursor: pointer;
}

.post{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    border: 1px solid aquamarine;
}

.poster {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    width: 150px;
    height: 200px;
    border: 1px solid black;   
}

.poster > img {
    width: 100%;
    height: 100%;

}